/*@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500&display=swap');
*{
    font-family: 'Readex Pro', sans-serif;
}*/

.container_sp{
    background: linear-gradient(0deg, #ffffff, rgb(255, 255, 255));
    /*padding: 15px 45% 100px;*/
}
.classroomlist{
    background: #DFDEE6;
}
/*教室列表CSS*/
.card{
    box-shadow : 0 .5rem 1rem rgba(0,0,0,.2);
    transition:ease .5s;
    border-radius:10px;
}
.card:hover{
    transform: scale(1.15);
}
.card ,h1{
    text-align: center;
    /*margin-top: 20px;*/
}
.middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.circle{
    border-radius:10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*管理員分割面板*/
.content{
    float:right;
    padding: 0px;
}
.sidebar{
    float:left;
    background: #bfd1ec;
}