/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
*{
    font-family: 'Noto Sans TC', sans-serif;
}
/*管理員分割面板*/
.content{
    float:right;
    padding-left: 20rem;
    padding-top: 40px;
}
.black_background{
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 5;
}
.grey_background{
    background: rgba(245,245,245,1);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    overflow: auto;
}
.sidebar{
    float:left;
    background: #bfd1ec;
    position: fixed;
    top:0; left:0;
    z-index: 3;
    width: 20rem;
    height: 100%;
    padding: 1rem;
    padding-top: 50px;
}
.container_sp{
    background: linear-gradient(0deg, #ffffff, rgb(255, 255, 255));
}
.classroomlist{
    //background: #DFDEE6;
    /*width: 100%;
    height: 100%;*/
    background-image:url( 'pic/IB.jpeg' ) ;

    //background-color: blue;
    //background-blend-mode: ;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
/*教室列表CSS*/
.card_spec{
    box-shadow : 0 .5rem 1rem rgba(0,0,0,.2);
    transition:ease .5s;
    border-radius:10px;
    cursor: pointer;
    &:hover{
        transform: scale(1.08);
    }
}
.card ,h1{
    text-align: center;
    /*margin-top: 20px;*/
}
.card_show{
    //box-shadow : 0 .5rem 1rem rgba(0,0,0,.2);
    position: fixed;
    left: 6%;
    top: 10%;
    width: 88%;
    height: 86%;
    z-index: 10;
    animation-name: example;
    animation-duration: 1s;
    .card_body{
        margin: 1rem;
    }
    .close_button {
        position: absolute;
        right: -20px;
        top: -10px;
        width: 50px;
        height: 50px;
        background: #FFF;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        span {
            position: absolute;
            width: 40px;
            height: 4px;
            background: #1863FF;
            border-radius: 4px;
            transition: 0.5s;
            transform: rotate(315deg);

            &:nth-child(1) {
                transform: rotate(45deg);
                width: 40px;
            }
        }
    }
}
.card_show_edit {
    //box-shadow : 0 .5rem 1rem rgba(0,0,0,.2);
    position: fixed;
    left: 25%;
    top: 10%;
    width: 50%;
    background: rgba(100,100,100,0.1);
    height: 86%;
    z-index: 10;
    animation-name: example;
    animation-duration: 1s;
    .card_body{
        width: auto;
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        button{
            position: absolute;
            top:40px;
            left: calc(10%);
        }
    }
    .close_button {
        position: absolute;
        right: -20px;
        top: -10px;
        width: 50px;
        height: 50px;
        background: #FFF;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        span {
            position: absolute;
            width: 40px;
            height: 4px;
            background: #1863FF;
            border-radius: 4px;
            transition: 0.5s;
            transform: rotate(315deg);

            &:nth-child(1) {
                transform: rotate(45deg);
                width: 40px;
            }
        }
    }
}
.card_edit ,.card_request{
    position: fixed;
    left: calc(50% - 100px);
    top: 30%;
    width: 200px;
    height: 250px;
    z-index: 10;
    animation-name: example;
    animation-duration: 1s;
    .card_body{
        margin: 1rem;
        button{
            margin: 2px;
            width: 100%;
        }
    }
}
.card_reserve{
    position: fixed;
    left: 6%;
    top: 10%;
    width: 88%;
    height: 86%;
    z-index: 10;
    padding: 0;
    animation-name: example;
    animation-duration: 1s;
    overflow: auto;
    .card_body{
        margin: 1rem;
        height: auto;
        background: lightgreen;
        border-radius: 15px;
        overflow: unset;
        padding: 1rem;
    }
    .card_end{
        height: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        background: rgba(209,254,184,0.8);
        border-radius: 15px;
        overflow: unset;
        button{
            width: 100%;
            height: 100%;
            background-color: lightblue;
            font-size: large;
        }
    }
    .close_button {
        position: absolute;
        right: 20px;
        top: 0px;
        width: 50px;
        height: 50px;
        z-index: 100;
        background: #FFF;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        span {
            position: absolute;
            width: 40px;
            height: 4px;
            background: #1863FF;
            border-radius: 4px;
            transition: 0.5s;
            transform: rotate(315deg);

            &:nth-child(1) {
                transform: rotate(45deg);
                width: 40px;
            }
        }
    }
}
@keyframes example {
    0%   {
        opacity: 0;
    }
    /*25%  {
        background-color: yellow;
    }
    50%  {
        background-color: blue;
    }*/
    /*90%   {
        opacity: 0;
        height: auto;
    }*/
    100% {
        opacity: 1;
    }
}

.middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.circle{
    border-radius:10px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* 網頁捲軸【寬度】 */
::-webkit-scrollbar {
    width: 10px;
    -webkit-border-radius: 10px;
    display: none;
}

/* 網頁捲軸【背景】顏色 */
::-webkit-scrollbar-track {
    background: #448fc8;
}

/* 網頁捲軸【把手】顏色 */
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* 網頁捲軸【滑過時】把手的顏色 */
::-webkit-scrollbar-thumb:hover {
    background: #e1e5e8;
}
.up_button {
    position: absolute;
    right: 100px;
    top: 200px;
    width: 50px;
    height: 50px;
    background: #FFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    span{
        position: absolute;
        width: 4px;
        height: 40px;
        background: rgba(0,0,0);
        border-radius: 4px;
        transition: 0.5s;
        &:nth-child(1){
            transform: translateY(-10px) rotate(45deg);
            height:25px;
            left:15px;
        }
        &:nth-child(2){
            transform: translateY(-10px) rotate(135deg);
            height:25px;
            right:15px;
        }
    }
}
#scroll-top{
    position: fixed;
    top:-120%;
    right:2rem;
    /*padding:.5rem 1.5rem;*/
    font-size: 4rem;
    border-radius: .5rem;
    transition: .5s linear;
    z-index: 1;
}
#scroll-top.active{
    top:calc(100% - 8rem);
}
/*毛玻璃效果*/

.body_spec ,.classroomlist::before {
    background: url( 'pic/IB.jpeg' ) 0 / cover fixed;
}
.glass {
    background: hsla(0,0%,100%,.5);
    //position: relative;
    backdrop-filter: blur(6px);
    overflow: hidden;

    /* 其他樣式 */
}
/*.glass::before {
    position: absolute;
    top:0; right:0; bottom:0; left:0;
    backdrop-filter: blur(20px);
    z-index: -1;
    margin: -30px;
一般教室	E化教室	B10	50	數位多功能講桌(含主機、投影機、擴大機、麥克風、喇叭、布幕)
一般教室	E化教室	B12	50	數位多功能講桌(含主機、投影機、擴大機、麥克風、喇叭、布幕)
一般教室	E化教室	INSB07	30	數位多功能講桌(含主機、投影機、擴大機、麥克風、喇叭、布幕)
視聽教室	E化教室	INS303	60	數位多功能講桌(含主機、投影機、擴大機、麥克風、喇叭、布幕)
研究生教室	E化教室	INS407	15	數位多功能講桌(含主機、投影機、擴大機、麥克風、喇叭、布幕)
研討室	E化教室	INS409	15	數位多功能講桌(含主機、投影機、擴大機、麥克風、喇叭、布幕)
視聽教室	階梯教室	INS101	70	數位多功能講桌(含主機、投影機、擴大機、麥克風、喇叭、布幕)
視聽教室	階梯教室	INS105	70	數位多功能講桌(含主機、投影機、擴大機、麥克風、喇叭、布幕)
個人電腦實驗室	教學實驗室	INS203	80	投影機、擴大機、麥克風、喇叭、布幕、81台主機
3D多媒體教學實驗室	教學實驗室	INS205	25	投影機、擴大機、麥克風、喇叭、布幕、23台mac主機
電子電路/數位邏輯教學實驗室/VLSI設計實習室/RFID資訊應用與安全實驗室	教學實驗室	INS301	53	投影機、擴大機、麥克風、喇叭、布幕、53台主機
物聯網實驗室	教學實驗室	電機一館314	65	擴大機、麥克風、喇叭、65台主機

}*/
.personal{
    padding: 40px;
    padding-top: 100px;
    width: 100%;
    //background-color: rgba(150,150,150,1);
    position: absolute;
    .file_border{
        border-radius: 10px;
        background-color: rgba(255,255,255,1);
        height: 100%;
        //width: calc(100% - 40px);
        //height: 95%;
        padding: 30px;
        overflow: auto;
        table{
            width: 100%;
            position: relative;
            margin: 0;
            border-radius: 6px;
            thead tr th {
                text-align: center;
                border-bottom: 3px solid rgba(150,150,150,1);
                width: 10%;
                border-radius: 6px;
                min-width: 50px;
                &:nth-child(5) {
                    text-align: left;
                    width: 40%;
                }
                &:last-child {
                    width: 10%;
                }
            }
            tbody{

                tr{
                    border-bottom: 3px solid rgba(150,150,150,1);
                    td {
                        text-align: center;
                        width: auto;
                        overflow: hidden;
                        &:nth-child(5) {
                            text-align: left;
                        }
                    }

                }
            }

        }
    }
}
.admin1{
    padding-top: 100px;
    padding-left: 360px;
    .file_border{
        border-radius: 10px;
        background-color: rgba(255,255,255,1);
        padding: 20px;
        width: calc(100% - 40px);
        height: 95%;
        overflow: auto;
        table{
            width: 100%;
            position: relative;
            margin: 0;
            border-radius: 6px;
            thead tr th {
                text-align: center;
                border-bottom: 3px solid rgba(150,150,150,1);
                width: 13%;
                border-radius: 6px;
                min-width: 40px;
                &:nth-child(5) {
                    text-align: left;
                    width: 40%;
                }
                &:last-child {
                    width: 8%;
                }
            }
            tbody{

                tr{
                    border-bottom: 3px solid rgba(150,150,150,1);
                    td {
                        text-align: center;
                        width: auto;
                        overflow: hidden;
                        &:nth-child(5) {
                            text-align: left;
                        }
                    }

                }
            }

        }
    }
}
.admin3{
    padding-top: 100px;
    padding-left: 360px;
    .file_border{
        border-radius: 10px;
        background-color: rgba(255,255,255,1);
        padding: 20px;
        width: calc(100% - 40px);
        height: 95%;

    }
}
.admin4{
    padding-top: 75px;
    padding-left: 320px;
    .file_border{
        margin: 15px;
        border-radius: 10px;
        background-color: rgba(255,255,255,1);
        box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);
        position: relative;
        float: left;
        padding: 10px;
        width: calc(50% - 30px);
        height: 46%;
        overflow: auto;
        table{
            margin: 0;
            font-size: large;
            width: 100%;
            position: relative;
            border-radius: 6px;
            thead tr{
                padding: 50px;
                th {
                    text-align: center;
                    border-bottom: 3px solid rgba(150, 150, 150, 1);
                    width: 13%;
                    border-radius: 6px;
                    min-width: 60px;
                    &:nth-child(5) {
                        text-align: left;
                        width: 40%;
                    }
                    &:last-child {
                        text-align: left;
                        width: 8%;
                    }
                }
            }
            tbody{

                tr{
                    height: 40px;
                    border-bottom: 3px solid rgba(150,150,150,1);

                    /*transition: 0.2s;
                    &:hover {
                        background-color: rgba(240,240,240,1);
                        transform: scale(1.15) translateX(25px);
                    }*/
                    td {
                        text-align: center;
                        width: auto;
                        overflow: hidden;
                        &:nth-child(5) {
                            text-align: left;
                        }
                    }

                }
            }

        }
    }
}
.admin5{
    
    padding-top: 100px;
    padding-left: 360px;
    .file_border{
        border-radius: 10px;
        background-color: rgba(255,255,255,1);
        padding: 20px;
        width: calc(100% - 40px);
        height: 95%;
        overflow: auto;
        .file_header{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            button{
                position: relative;
                left: calc(40% - 50px);
            }
        }
        table{
            width: 100%;
            position: relative;
            margin: 0;
            border-radius: 6px;
            thead tr th {
                text-align: center;
                border-bottom: 3px solid rgba(150,150,150,1);
                width: 13%;
                border-radius: 6px;
                min-width: 60px;
                &:nth-child(5) {
                    text-align: left;
                    width: 40%;
                }
                &:last-child {
                    width: 8%;
                }
            }
            tbody{

                tr{
                    border-bottom: 3px solid rgba(150,150,150,1);
                    td {
                        text-align: center;
                        width: auto;
                        overflow: hidden;
                        &:nth-child(5) {
                            text-align: left;
                        }
                    }

                }
            }

        }
    }
}
.edit_button{
    width: 40px;
    height: 40px;
    position: relative;
    background-color: rgba(150,150,150,0.2);
    border-radius: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.08);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    span{
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background-color: black;
        position: absolute;
        top: 10px;
        &:nth-child(2){
            top: 20px;
        }
        &:nth-child(3){
            top: 30px;
        }
    }
    &:hover{

        background-color: rgba(150,150,150,1);
    }
}
.request_button{
    width: 40px;
    height: 40px;
    position: relative;
    background-color: rgba(150,150,150,0.2);
    border-radius: 50px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.08);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    span{
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background-color: black;
        position: absolute;
        top: 10px;
        &:nth-child(2){
            top: 20px;
        }
        &:nth-child(3){
            top: 30px;
        }
    }
    &:hover{

        background-color: rgba(150,150,150,1);
    }
}
.table_button{
    position: relative;
    width: 40px;
    height: 40px;
    align-content: center;
    font-size: larger;
    border-radius: 40px;
    background-color: rgba(240,240,240,0.3);
    box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.08);
    cursor: pointer;
}
.bi-pencil-square{
    position: relative;
    left: 1px;
}
.table_button:hover{
    background-color: rgba(240,240,240,1);
}
.record{
    table{
        margin: 0;
        border-radius: 6px;
        tr th {
            border-bottom: 3px solid white;
            width: 25%;
            border-radius: 6px;
        }
        tbody{

            tr{
                border-bottom: 3px solid white;

                border-radius: 6px;
                td {
                    width: 25%;
                }
                /*&:last-child {
                    border-bottom: 0px solid white;
                }*/
            }
        }

    }
}
.weekList{
    padding-left: 0;
}
.no_display{
    display: none;
    transition: 0.1s;
}
.RWD_button{
    display: none;
}
.show_left_top{
    //border: 1px solid #1c1f23!important;

    background: lightgreen;
    color: black;
}
.show_left_bottom{
    margin-top: 25px;
    //border: 1px solid #1c1f23!important;
    background: lightblue;
    height: calc(80% - 13rem);
}
.show_right{

    background: rgba(209,254,184,0.8);
    padding-right: 1.5rem;
    margin: 1rem;
    table{
        width: 100%;
        white-space: nowrap;
        table-layout: auto;
        //border: 5px solid rgba(209,254,184);
        thead{

            tr th {
                border-bottom: 3px solid white;
                width: 12.5%;
                max-width: 200px;
            }
        }
        tbody tr{
            border-bottom: 3px solid white;
            width: auto;
            &:last-child {
                border-bottom: 0px solid white;
            }
        }
    }
}
.classInfo{
    padding-right: 0;
    overflow: auto;
}
.classInfo_edit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.rows{
    .container-fluid{
        .info{
            h3{
                float: left;
                width: 40%;
            }
            .right{
                float: left;
                width: 60%;
                font-size: 1.5rem;

            }
            .row{
                margin-bottom: 0;
                float: left;
                width: 60%;
            }
        }
    }
}
.scroll{
    overflow: auto;
}
.paper {
    background:
            linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0)
            no-repeat 100% 0 / 3em 1.73em,
            linear-gradient(-135deg, transparent 1.5em, #58a 0);
}


.toggle_button{
    position: absolute;
    right: 100px;
    top: 100px;
    width: 70px;
    height: 70px;
    background: #FFF;
    //box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    span{
        position: absolute;
        width: 40px;
        height: 4px;
        background: #1863FF;
        border-radius: 4px;
        transition: 0.5s;
        &:nth-child(1){
            transform: translateY(-15px);
            width:25px;
            left:15px;
        }
        &:nth-child(2){
            transform: translateY(15px);
            width:15px;
            left:15px;
        }
    }
    &:hover{
        span{
            &:nth-child(1){
                width:40px;
                left:15px;
            }
            &:nth-child(2){
                width:40px;
                left:15px;
            }
        }
    }
    &.active{
        span{
            width: 40px;
            height: 4px;
            background: #1863FF;
            border-radius: 4px;
            transition: 0.5s;
            &:nth-child(1){
                transform: translateY(0px) rotate(45deg);
                width:40px;
            }
            &:nth-child(2){
                transform: translateY(0px) rotate(315deg);
                width:40px;
            }
            &:nth-child(3){
                transform: translateX(60px);
            }
        }
    }
}
.navbar{
    /*top: 30px;
    border-radius: 50px;
    margin-right: 30px;
    margin-left: 30px;*/
    z-index: 5;
}
.navbar-toggler{
    .toggle_button{
        background: #FFF;
        border-radius: 50px;
        width: 50px;
        height: 40px;
        top: 8px;
        right: 5px;
        span{
            position: absolute;
            width: 30px;
            height: 4px;
            background: #1863FF;
            border-radius: 4px;
            transition: 0.5s;
            &:nth-child(1){
                transform: translateY(-15px);
                width:20px;
                left:10px;
            }
            &:nth-child(2){
                transform: translateY(15px);
                width:15px;
                left:10px;
            }
        }
        &:hover{
            span{
                &:nth-child(1){
                    width:30px;
                }
                &:nth-child(2){
                    width:30px;
                }
            }
        }
        &.active{
            span{
                /*width: 40px;
                height: 4px;
                background: #FFF;
                border-radius: 4px;
                transition: 0.5s;*/
                &:nth-child(1){
                    transform: translateY(0px) rotate(45deg);
                    width:30px;
                }
                &:nth-child(2){
                    transform: translateY(0px) rotate(315deg);
                    width:30px;
                }
                &:nth-child(3){
                    transform: translateX(60px);
                }
            }
        }
    }
}
.Test{
    padding: 0;
    margin: 10px;
    border: 0;
    width: 300px;
    height: 150px;
    background: rgba(209,254,184,0.8);
    border-radius: 10px;
    table{
        width: 100%;
        height: 100%;
        thead tr th{
            color: gray;
            width: 50%;
            &:nth-child(1){
                width: 30%;
            }
            &:nth-child(2){
                width: 20%;
            }
        }
        tbody{
            border-top: 2px solid gray;
            tr td{
                color: gray;
            }
        }
    }
}
.RWD_show{
    display: none;
}
.RWD_noShow{
    display: block;
}
//RWD
@media (max-width: 991px) {
    .sidebar{
        left: -110%;
    }
    .content{
        padding-left: 0rem;
    }
    .admin1{
        padding-left: 40px;
    }
    .admin2{
        padding-left: 40px;
    }
    .admin3{
        padding-left: 40px;
    }
    .admin5{
        padding-left: 40px;
    }
    .admin4{
        padding-left: 25px;
        .file_border{
            margin: 15px;
            border-radius: 10px;
            background-color: rgba(255,255,255,1);
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.08);
            position: relative;
            float: left;
            padding: 20px;
            width: calc(100% - 55px);
            height: 45%;
            overflow: hidden;

        }
    }
    .RWD_button{
        display: block;
    }
    .RWD_word{
        display: none;
    }
    .weekList{
        padding-left: calc(var(--bs-gutter-x) * .5);
    }
    /*table tr td{
        border: 1px solid #1c1f23!important;
        width: 5rem;

    }*/
    .show_right{
        margin-top: 25px;
    }
    .show_left_bottom{
        height: auto;
    }
    .classInfo{
        padding-right: calc(var(--bs-gutter-x) * .5);
    }
    /*.navbar{

        top: 0px;
        border-radius: 0px;
        margin-right: 0px;
        margin-left: 0px;

    }
    .navbar-toggler{
        border-radius: 0;
    }*/
}
@media (max-width: 767px) {
    .admin1{
        padding-top: 70px;
        padding-left: 15px;
        .file_border{
            width: calc(100% - 15px);
        }
    }
    .RWD_show{
        display: block;
    }
    .RWD_noShow{
        display: none;
    }
    .card_show .card_body{
        margin: 0.2rem;
        .classInfo{
            padding: 0;
            .show_left_top{
                margin: 0
            }
        }
        .weekList{
            padding: 0;
        }
    }
    .card_show_edit{
        left: 6%;
        width: 88%;
    }
    /*.card_show{
        height: auto;
    }*/
}
/*.add_class_btn{
    position: relative;
    background-color: rgba(150,150,150,0.2);
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.08);
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s;
    span{
        width: 6px;
        height: 6px;
        border-radius: 10px;
        background-color: black;
        position: absolute;
        top: 10px;
        &:nth-child(2){
            top: 20px;
        }
        &:nth-child(3){
            top: 30px;
        }
    }
    &:hover{

        background-color: rgba(150,150,150,0.6);
    }
}*/
.add_class_tr_down{
}
.add_class_tr{
    animation-name: example2;
    animation-duration: 1s;
    &.active {
        transition: 0.5s;
        display: none;
    }
}
@keyframes example2 {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}